@model DailyCovidViewModel
@{
    ViewData["Title"] = "Home Page";
}
    <div class="container">
        @Html.Partial("_CountryListView", Model.DailyCovids)
        <div class="row">
            <table id="dt" class="table table-hover table-striped table-bordered table-sm table-responsive" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th scope="col">Country</th>
                        <th scope="col">Cumulative Deaths</th>
                        <th scope="col">Country Code</th>
                        <th scope="col">New Cases</th>
                        <th scope="col">Cumulative Cases</th>
                        <th scope="col">WHO Region</th>
                        <th scope="col">New Deaths</th>
                        <th scope="col">Date Reported</th>
                    </tr>
                </thead>
                <tbody id="cvDataTbl">
                    @foreach (var item in Model.DailyCovids)
                    {
                        <tr class="cv-data">
                            @*<th scope="row"></th>*@
                            <td>@item.Country</td>
                            <td>@item.CumulativeDeaths</td>
                            <td>@item.CountryCode</td>
                            <td>@item.NewCases</td>
                            <td>@item.CumulativeCases</td>
                            <td>@item.WhoRegion</td>
                            <td>@item.NewDeaths</td>
                            <td class="date">@Convert.ToDateTime(item.DateReported).ToString("d/MM/yyyy")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>     
    </div>