@model DailyCovidViewModel
@{
    ViewData["Title"] = "Home Page";
}


@*@using (Html.BeginForm("GetDailyCovidByCountry", "Home", FormMethod.Post))
    {

    }*@
    <div class="container">
        <div class="form-group">
            <div class="row">
                <div class="col-md-5">
                    <select id="select" class="form-control">
                        @foreach (var item in Model.Countries)
                        {
                            <option class="option" value="@item.CountryCode">@item.CountryName</option>
                        }
                    </select>
                </div>
                @*<div class="offset-4 col-md-3 float-right">
                    <input type="submit" class="btn btn-primary" value="send" />
                </div>*@
            </div>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Global Data</th>
                    <th scope="col">Country</th>
                    <th scope="col">Cumulative Deaths</th>
                    <th scope="col">Country Code</th>
                    <th scope="col">New Cases</th>
                    <th scope="col">Cumulative Cases</th>
                    <th scope="col">WHO Region</th>
                    <th scope="col">New Deaths</th>
                    <th scope="col">Date Reported</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.DailyCovids)
                {
                    <tr>
                        <th scope="row"></th>
                        <td>@item.Country</td>
                        <td>@item.CumulativeDeaths</td>
                        <td>@item.CountryCode</td>
                        <td>@item.NewCases</td>
                        <td>@item.CumulativeDeaths</td>
                        <td>@item.WhoRegion</td>
                        <td>@item.NewDeaths</td>
                        <td>@item.DateReported</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>



<script type="text/javascript">
    $('#select').on('change', function () {
        var countryCode = $("#select").val();        
        $.ajax({
            url: "Home/GetDailyCovidByCountry?countryCode="+countryCode,
            type: "GET",            
            success: function () {
                alert("done");
            },
            error: function () {
                alert("Erdal bakkal");
            },
        })
    })
</script>